*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}
/* #3F88C5; */

.msg-container{
    height:  100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
#newgame-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

/*jo game wala container h vo 70% h  60% game ko diya h or 18% button ko diya h */
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin; /*jitni height di h uska 60% hoga 60vmin */
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin; /* 60 % m se 18% uss box ko diya h */
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

